.app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.chart {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 600;
}
